@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
}
.snip1517 {
    transform: translateY(20%) ;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.snip1517 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.snip1517 .plan {
  width: 30%;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  background-color: #222f3d;
  border-radius: 8px;
}

.snip1517 .plan:hover i,
.snip1517 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.snip1517 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.snip1517 header {
  color: #ffffff;
}

.snip1517 .plan-title {
  line-height: 60px;
  position: relative;
  margin: 0;
  padding: 0 20px;
  font-size: 1.6em;
  letter-spacing: 2px;
  font-weight: 700;
}

.snip1517 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 20px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.snip1517 .plan-cost {
  padding: 0 20px;
  margin: 0;
}

.snip1517 .plan-price {
  font-weight: 400;
  font-size: 2.8em;
  margin: 10px 0;
  display: inline-block;
}

.snip1517 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}

.snip1517 .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
  font-size: 0.9em;
}

.snip1517 .plan-features li {
  padding: 8px 20px;
  text-align: left;
}

.snip1517 .plan-features i {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.snip1517 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.snip1517 .plan-select a {
  background-color: #156dab;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}

.snip1517 .plan-select a:hover {
  background-color: #1b8ad8 !important;
}

.snip1517 .featured {
  margin-top: -10px;
  z-index: 1;
  border-radius: 8px;
  border: 2px solid #156dab;
  background-color: #156dab;
}

.snip1517 .featured .plan-select {
  padding: 30px 20px;
}

.snip1517 .featured .plan-select a {
  background-color: #10507e;
}

@media only screen and (max-width: 767px) {
  .snip1517 .plan {
    width: 45%;
    margin: 2.5%;
  }
}

@media only screen and (max-width: 440px) {
  .snip1517 .plan {
    width: 90%;
    margin: 5%;
  }
}
